body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}
 
main {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 692px;
	box-shadow: 0 0 15px 0 black;
}

main > * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

h1 {
	position: relative;
}

h1 span {
	font-weight: normal;
}

ul {
	list-style: none;
	padding-left: 20px;
}

p, li {
	line-height: 30px;

}

li {
	position: relative;
}

li::before {
	content: "";
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #ffdd2d;
	position: absolute;
	left: -20px;
	top: 11px;
}

.container {
	max-width: 604px;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

.banner {
	color: white;
	height: 328px;
	max-width: 100%;
	background: url(../img/bcg.png) no-repeat;
	background-size: 100% 100%;
	padding-left: 26px;
	padding-top: 35px;
	object-fit: cover;
}

.main h1 {
	margin-left: 110px;
	font-size: 40px;
}

.banner h1 {
	font-size: 28px;
	margin-left: 80px;
	padding-bottom: 30px;
}

.main h1::before,
.banner h1::before {
	content: "";
	position: absolute;
	background: url(../img/logo.png) no-repeat;
}

.main h1::before {
	height: 100px;
	width: 110px;
	left: -110px;
	top: -35px;
}

.banner h1::before {
	height: 60px;
	width: 70px;
	left: -73px;
	top: -15px;
	background-size: cover;
}

.banner p {
	font-size: 27px;
}

.cards {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 0;
	align-items: center;
	margin-top: 30px;
}

.card {
	width: 152px;
	height: 260px;
	border: 1px solid silver;
	border-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 30px: 
	padding-bottom: 30px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.card:nth-child(3) {
	margin-right: 0;
}


.card h1 {
	font-weight: normal;
	font-size: 17px;
}

.card p {
	font-size: 12px;
	line-height: 15px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: gold;
  margin: 0 auto;
  margin-top: 30px;
}



@media screen and (max-width: 500px) {
	.card {
		width: 100%;
	}
}